main {
	display: flex;
	flex-direction: column;
}

.room-list-section {
	font-family: "Montserrat", sans-serif;
	padding: 2rem;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	min-height: 100vh;
}

.rooms-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	/* background: #282a3a; */
	padding: 3rem 0;
	border-radius: 1rem;
	width: 50rem;
}

.rooms-container > h1 {
	padding: 1.5rem;
	font-size: 3rem;
	text-align: left;
}

.rooms {
	display: flex;
	justify-content: space-between;
	gap: 0.85rem;
	min-width: 40rem;
	background: #6b728e;
	padding: 2rem;
	border: 2px solid #282a3a;
	/* border-radius: 1rem; */
	/* box-shadow: 4px 4px 20px #342b4b; */
}

.rooms > div > p {
	font-size: 1.25rem;
	padding-bottom: 1rem;
	color: #c0eef2;
}

.rooms > div > h1 {
	font-size: 1.55rem;
}

.room-create-form {
	padding: 2rem;
	background: #404258;
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.dashboard-user-info-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.room-delete-btn,
.room-create-btn {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	outline: none;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
}

.room-delete-btn {
	background: #6b728e;
	color: #f16767;
}

.room-create-btn,
input {
	background: #6b728e;
}

.room-create-btn {
	position: absolute;
	right: 35.5%;
	height: 4.6%;
	color: white;
	font-size: 1.15rem;
}

/* private room creation btn  */
.navigate-pvt-room-btn {
	font-size: 0.9rem;
	cursor: pointer;
	background: #50577a;
	padding: 0.2rem;
}

.navigate-pvt-room-btn > a {
	color: rgba(255, 255, 255, 0.801);
}

.room-cards-del-pvtKey-section {
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pvt-key {
	padding: 0;
	font-size: 0.9rem;
	color: rgba(255, 255, 255, 0.925);
}

.pvt-key-info {
	color: rgba(252, 252, 252, 0.555);
}

a {
	text-decoration: none;
	color: white;
}

input {
	padding: 0.85rem 1rem;
	outline: none;
	border: none;
	font-size: 1rem;
	border-radius: 0.5rem;
	width: 30%;
	color: white;
}

::placeholder {
	color: rgba(255, 255, 255, 0.664);
}

/* for small viewports  */
@media only screen and (max-width: 600px) {
	.room-list-section {
		flex-direction: column-reverse;
		gap: 3rem;
		padding: 2rem 0.5rem;
	}

	.rooms-container {
		width: 100%;
		padding: 2.5rem 1rem;
		max-height: 40rem;
		overflow: auto;
		font-size: 0.5rem;
	}

	.rooms {
		min-width: 100%;
		overflow-wrap: break-word;
	}
	.rooms > p {
		font-size: 0.95rem;
	}

	.rooms > h1 {
		font-size: 1.25rem;
	}

	.room-create-form {
		position: relative;
		padding: 2rem 0.85rem;
	}

	.room-create-btn {
		position: absolute;
		right: 1rem;
		background: none;
		height: 41%;
		padding: 0.85rem;
		font-weight: bold;
		font-size: 1.25rem;
		color: white;
	}

	input {
		width: 100%;
	}
}
