.heading {
	color: white;
	font-weight: normal;
}

.registered-users-list-container {
	width: 25rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	text-align: left;
	padding: 3rem 2rem;
	background: #282a3a;
	border-radius: 1rem;
	max-height: 40rem;
	overflow: auto;
}

ul {
	list-style-type: none;
	color: #46c2cb;
}

li {
	padding: 1rem;
}

li > p:nth-child(1) {
	font-size: 1.15rem;
}

li > p:nth-child(2) {
	font-size: 0.9rem;
	color: #fcffe7;
}

@media only screen and (max-width: 600px) {
	.registered-users-list-container {
		width: 15rem;
		border-radius: 0;
		padding: 2rem 1rem;
		font-size: 0.85rem;
	}
}
